/* -- ||| CSS imports -- */
@import url('https://fonts.googleapis.com/css2?family=Gluten:slnt,wght@-10..10,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:slnt,wght@-10,100..900&family=Inconsolata&display=swap');

/* -- ||| GLOBALS -- */
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --bgcolor: #211818;
  --bgcolor-secondary: #3B2E2B;
  --fgcolor: #EEEEDD;
  --fgcolor-secondary: #D4C3AA;
  --pink: #E0AAEB;
  --dpink: #C426A4;
  --green: #7A9145;
  --dgreen: #384F1B;
  --blue: #55A2F1;
  --dblue: #234A7D;
  --red: #E27C58;
  --dred: #B05154;
  --yellow: #EECF40;
}

html {
  color: var(--fgcolor);
  background-color: var(--bgcolor);
}

a {
  text-decoration-line: none;
  color: var(--fgcolor-secondary);
}

a:hover {
  text-decoration-line: underline;
  color: var(--red);
}

code {
  font-family: 'Inconsolata', 'Courier New', 'Courier', 'monospace';
  background-color: var(--bgcolor-secondary);
}

.codeblock {
  display: block;
  width: 40em;
}


/* -- ||| UTILITIES -- */

/* widths */
.w-xs {
  width: 12em;
}
.w-sm {
  width: 20em;
}
.w-med {
  width: 40em;
}
.w-lg {
  width: 60em;
}
.w-xl {
  width: 80em;
}

/* heights */
.h-sm {
  height: 20em;
}
.h-med {
  height: 40em;
}
.h-lg {
  height: 60em;
}
.h-xl {
  height: 80em;
}

/* margins */
.marg-auto {
  margin: auto;
}
.marg-left-sm {
  margin-left: 1em;
}
.marg-left-md {
  margin-left: 2em;
}
.marg-top-sm {
  margin-top: 1em;
}
.marg-top-md {
  margin-top: 2em;
}

/* padding */
.pad-left-sm {
  padding-left: 1em;
}
.pad-left-md {
  padding-left: 2em;
}
.pad-top-sm {
  padding-top: 1em;
}
.pad-top-md {
  padding-top: 2em;
}

/* hide list marker */
.li-style-none {
  list-style: none;
}

.flex {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

.flex__left {
  justify-content: start;
}

.flex__vert {
  justify-content: start;
}

/* -- ||| SITEWIDE -- */

/* || header */

header .site-title {
  color: var(--dred);
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" -10;

  a {
    color: inherit;
  }
  a:hover {
    text-decoration-line: underline;
  }
}

/* || navbar */
/* -- site tree -- */
.navbar {
  --tree-spacing: -1.2em;
  --tree-line-vert: 1px solid var(--fgcolor-secondary);
  --tree-line-horiz: 1px dotted var(--fgcolor-secondary);
  --tree-list-inset: 1.75em;
  --tree-line-height: 1.2em;
}

.navbar__list {
  padding-left: 0em;
}

.navbar__list__parent {
  list-style: none;
}

.navbar__list__item {
  position: relative;
  list-style-type: none;
  line-height: var(--tree-line-height);
  margin-left: var(--tree-list-inset);
}

/* add |_ tree in a box before each element */
.navbar__list__item ::before {
  position: absolute;
  left: var(--tree-spacing);
  top: 0px;
  border-left: var(--tree-line-vert);
  border-bottom: var(--tree-line-horiz);
  content: "";
  width: 1em;
  height: 0.5em;
}

/* add connecting | under element */
.navbar__list__item ::after {
  position: absolute;
  left: var(--tree-spacing);
  bottom: 0px;
  border-left: var(--tree-line-vert);
  content: "";
  width: var(--tree-spacing);
  height: 100%;
}

/* don't put connecting | under last element */
.navbar__list__item :last-child::after {
  display: none;
}

/* -- ||| SPECIFICS -- */
